html{margin:0 0 !important;padding:0 0;}
p{margin:0 0;}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: none; }


/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/*css3vh属性 视口被均分为100单位的vh。高度占满整个窗口就是height: 100vh*/
body {height: 100vh;width:100vw;margin:0 0;font: normal 100% Helvetica, Arial, sans-serif;overflow-x: hidden;}/*字体大小是页面默认大小的100%，即16像素。*/
h1 {font-size: 1.5em;}/*然后，h1的大小是默认大小的1.5倍，即24像素（24/16=1.5）*/
small {font-size: 14px;}/*small元素的大小是默认大小的0.875倍，即14像素（14/16=0.875）。*/
img { max-width: 100%;height: inherit;}/*图片的自适应（fluid image）*/

@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sousuo:before { content: "\e600"; }
.icon-fenxiang:before { content: "\e601"; }
.icon-youjianhuifu:before { content: "\e602"; }
.icon-menu-2:before { content: "\e603"; }
.icon-guanbi:before { content: "\e604"; }
.icon-gaunbi:before { content: "\e605"; }

.homepage_body{height:100%;width:100%;position:relative;z-index:4;overflow: hidden;}
.flex-box{
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}
.flex-top{
    flex-basis: 120px;
    -webkit-flex-basis: 120px;
}
.flex-center{
    flex : 1;
    -webkit-flex: 1;
    position: relative;
}
.slide-box .item .item-flex-box{
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}
.slide-box .item .item-flex-box .image{
    flex : 1;
    -webkit-flex: 1;
}
.slide-box .item .item-flex-box .bottom{
    -webkit-flex-basis : 110px;
    flex-basis : 110px;
    overflow:hidden;
    margin-top:30px;
}
.top{height:120px;position:relative;}
.top .nav{position:absolute;right:40px;top:40px;font-size:2em;}
.top .mylogo{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:72px;height:72px;background:url(../images/logo.png) center center no-repeat;background-size:100%;}
.center{
    width : 100%;
    height: 100%;position: absolute;text-align:center;
}
.center .prev,.center .next{
    display: flex;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column;
    flex-direction: column;
    width:100px;position: absolute;height:100%;z-index:999;background-color:#fff;
}
.center .prev .click-item,.center .next .click-item{
    position: relative;
    flex : 1;
    -webkit-flex: 1;
    width: 100%;
}
.center .prev .btn-bottom,.center .next .btn-bottom{
    -webkit-flex-basis : 140px;
    flex-basis : 140px;
}
.center .prev .wrap,.center .next .wrap{position:absolute;top:50%;transform:translate(0,-50%);height:14px;line-height: 14px;width:100%;}
.center .prev{left:0}
.center .next{right:0}
.center .btn{display:inline-block;height:14px;width:8px;position:absolute;transition-duration:0.5s;}
.center .prev .btn{background:url(../images/arrow_left.png) center center no-repeat;right:20px;}
.center .next .btn{background:url(../images/arrow_next.png) center center no-repeat;left:20px;}
.center .btn-txt{opacity:0;transition: opacity 0.9s;line-height:14px;vertical-align:middle;font-size:12px;}
.center .prev:hover .btn-txt,.center .next:hover .btn-txt{opacity:1;}
.center .prev:hover .btn{right:70px;}
.center .next:hover .btn{left:70px;}

.center .slide-box {
    height: 100%;
    margin: 0 100px;
    white-space: nowrap;
    -webkit-transition: 200ms cubic-bezier(0.1, 0.57, 0.1, 1);
    transition: 200ms cubic-bezier(0.1, 0.57, 0.1, 1);
}

.center .slide-box .mask{position:absolute;width:100%;height:100%;background-color:#fff;opacity:0;z-index:1;transition: opacity 1s;}
.center .slide-box .enter-link{display:inline-block;width:100px;height:100px;color:#333;}
.center .slide-box .enter{position:absolute;width:100px;height:100px;vertical-align:middle;text-align:center;background-color:#fff;top:50%;left:50%;transform:translate(-50%,-50%);border-radius:50%;line-height:100px;z-index:1;opacity:0;transition: opacity 1s;}
.center .image:hover .mask{opacity:0.3;z-index:5;}
.center .image:hover .enter{opacity:0.9;z-index:6;}
.center .slide-box .item{
    margin-right: 50px;
    display: inline-block;
    position:relative;
    width: 100%;
    height : 100%;
}
.center .image{position:relative;background-size: cover;background-position:center center;background-repeat: no-repeat}
.center .image .picnum{    width: 26px;
    height: 26px;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    opacity: 0.8;
    color: #666;
    vertical-align: middle;
    text-align: center;
    line-height: 26px;
    font-size: 12px;}
.center .image .main-img{margin:0 auto;width:100%;z-index:4;}
.bottom .brief{float:right;width:70%;font-size:14px;line-height:1.75em;text-align:left;white-space:normal}
.bottom .info{float:left;text-align:left;}
.bottom .info .title{margin-bottom:10px;font-size:20px;}
.bottom .info .title a{color:#000;font-size:20px;}
.bottom .info .time{display:inline-block;font-size:12px;border-radius:3px;border:1px solid #424242;overflow:hidden;}
.bottom .info .time .date{float:right;color:#424242;font-size:12px;padding:4px 4px;}
.bottom .info .time .year{background-color:#424242;padding:4px 4px;float:left;color:#fff;font-size:12px;}

.thunm{position:absolute;z-index:9999;height:100%;width:100%;left:0;top:0;display:none;}
.thunm .main-mask{opacity:0.3;width:100%;height:100%;background-color:#000;}
.thunm .nav-list{position:absolute;right:0;top:0;width:35vw;height:100%;background-color:#000;}
.thunm .nav-list .close{position:absolute;top:0;right:0;font-size:2em;background-color:#fff;width:80px;height:80px;vertical-align:middle;line-height:80px;text-align:center;color:#000;}
.thunm .nav-list .social,.thunm .nav-list .thumb-list{position:absolute;left:100px;color:#fff;}
.thunm .nav-list .social li,.thunm .nav-list .thumb-list li{margin:20px 0;cursor:pointer;}
.thunm .nav-list .social{top:240px;}
.thunm .nav-list .thumb-list{bottom:240px;}
.thunm .nav-list .social .search{height:56px;width:56px;border-radius:28px;background-color:#333;margin-bottom:40px;margin-left:-5px;}
.thunm .nav-list .social .search input{height:46px;padding:5px 0;border:none;background-color:#333;color:#fff;font-size:1em;outline: none;width:0;}
.thunm .nav-list .social .search:hover{width:316px;transition: width 0.5s;}
.thunm .nav-list .social .search:hover input{width:230px;transition: width 0.5s;}
.thunm .nav-list .social .search .magnifier{display:inline-block;float:left;height:56px;width:56px;text-align:center;vertical-align:middle;line-height:56px;font-size:1.8em;}

/*文章页*/
.right-box{
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100vh;
    position:fixed;
    overflow:hidden;
    right:0;
    width:320px;
    font-size:0.75em;
    padding-right: 20px;
}
.right-box .right-share{
    -webkit-flex-basis : 40px;
    flex-basis : 40px;
}
.right-box .comment-post{
    -webkit-flex-basis : 164px;
    flex-basis : 164px;
}
.right-box .comments{
    flex : 1;
    -webkit-flex: 1;
    overflow-y: auto;
    padding-top: 10px;
}
.pointer{cursor:pointer;}
.back{position:fixed;height:100%;width:100px;}
.back .wrap{height: 14px;line-height: 14px;position:absolute;top:50%;transform:translate(0,-50%);width:100%;text-align:center;}
.back .wrap .btn{display:inline-block;height:14px;width:8px;right:20px;position:absolute;transition-duration:0.5s;background:url(../images/arrow_left.png) center center no-repeat;}
.back .wrap .btn-txt{
    display: inline-block;
    height:14px
    line-height:14px;vertical-align:middle;font-size:12px;
    opacity:0;transition: opacity 0.9s;
}
.back:hover .btn-txt{opacity:1;}
.back:hover .btn{right:70px;}

.main{margin-left:100px;overflow-x:hidden;height:100%;}
.main .artical-top{overflow:hidden;padding:20px 0;height: 40px;}
.main .artical-top .cats{float: right;}
.main .artical-top .cats .classify{padding-left: 10px;font-size:12px;color: #999;}
.main .artical-top .time{float:left;display:inline-block;font-size:0.8em;border-radius:3px;border:1px solid #424242;overflow:hidden;}
.main .artical-top .time .date{float:right;color:#424242;font-size:0.8em;padding:4px 4px;}
.main .artical-top .time .year{background-color:#424242;padding:4px 4px;float:left;color:#fff;font-size:0.8em;}
.main .artical-top .artical-info{float:left;padding-left:15px;line-height: 24px;font-size: 22px;}
.main  .right-social{float:right;padding-top:20px;}
.main .right-social .share{color:#666;}
.main .right-social .prev-artical,.main .right-social .next-artical{display:inline-block;height:12px;width:8px;}
.main .right-social .prev-artical{background:url(../images/arrow_left.png) center center no-repeat;margin-right:30px}
.main .right-social .next-artical{background:url(../images/arrow_next.png) center center no-repeat;}

.artical{margin-right:380px;}
.artical::-webkit-scrollbar {
    width:0;
    height:0;
}
.artical::-webkit-scrollbar-button    {
    background-color:#fff;
}

.artical .artical-img{margin-bottom:20px;}
.artical .artical-img img{width:100%;}
.artical-content{height:100%;}
.artical-content p{
    text-indent: 2em;
    padding: 15px 0;
    line-height: 24px;
}
.full-img {
    padding: 0!important;
    text-indent: 0!important;
    margin-bottom: 20px;
}
.full-img iframe{width: 100%;}

.comments{background-color:#fff;}
.comments .comments-title{margin-bottom: 8px;text-transform: uppercase;}

.comments-wrapper{position: relative;padding-bottom: 50px;}
.comments-wrapper .comments-list{overflow-y: auto;overflow-x: hidden;}
.comments-wrapper .comments-list li{border-bottom:1px solid #e3e3e3;margin-top:10px;}
.comments-wrapper .comments-list .comment-author{padding-top: 5px;color: #AAA;background: white;}
.comments-wrapper .comments-list .comment-author a{color:#999;}
.comments-wrapper .comments-list .reply{float: right;}
.comments-wrapper .comments-list .comment-c {padding:10px 0;overflow:hidden}
.comments-wrapper .comments-list .comment-c p{white-space: normal;}
.comments-wrapper .comments-list .comment-c a {color:#999;}
.comments-wrapper .comments-list .comment-c a:hover {color:#ccc;}
.comments .comment-reply {}
.comment-post {width:100%;background-color:#fff;}
.comment-post .comment-post-wrapper {background-color: #fff;}
.comment-post textarea {width:100%;margin-top:20px;outline: none;border: none;border-bottom:1px solid #e3e3e3;}
.comment-post .comment-submit .post-comment{
    display: inline-block;
    height:34px;width:56px; overflow:hidden;float:right;margin-top:10px;
    cursor:pointer;
    background:url(../images/button_post.png) center center no-repeat;
}
/*.comment-post .comment-submit a:hover {background:#444;}*/
/*.comment-post .comment-submit a:active {background:#222;}*/


.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    -webkit-flex-direction: column;
}

.loading .master{
    padding-top: 12%;
    flex-basis: 28%;
    -webkit-flex-basis: 28%;
    text-align: center;
}
.loading .master .master-img{
    display: inline-block;
    height: 62px;
    width: 62px;
    background: url("../images/logo.png") center bottom no-repeat;
}

.loading .load{
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
}
.loading .load .load-img{
    display: inline-block;
    height: 56px;
    width: 56px;
    background: url("../images/loading.gif") center center no-repeat;
    background-size:100%;
}
.loading .blog-desc{
    flex-basis: 30px;
    -webkit-flex-basis: 30px;
    text-align: center;
    font-size: 12px;
    color: #999;
}

.loading_tips{
    visibility: hidden;
    z-index: 99;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: inline-block;
    height: 56px;
    width: 56px;
    background: url("../images/loading.gif") center center no-repeat;
    background-size:100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
    .top .mylogo{
        background:url(../images/logo@2x.png) center center no-repeat;
        background-size:100%;
    }
    .center .prev .btn{background:url(../images/arrow_left@2x.png) center center no-repeat;background-size:100%;}
    .center .next .btn{background:url(../images/arrow_next@2x.png) center center no-repeat;background-size:100%;}
    .main .right-social .prev-artical{background:url(../images/arrow_left@2x.png) center center no-repeat;background-size:100%;}
    .main .right-social .next-artical{background:url(../images/arrow_next@2x.png) center center no-repeat;background-size:100%;}
    .back .wrap .btn{background:url(../images/arrow_left@2x.png) center center no-repeat;background-size:100%;}
    .comment-post .comment-submit .post-comment{background:url(../images/button_post@2x.png) center center no-repeat;background-size:100%;}
    .loading .master .master-img{background: url("../images/logo@2x.png") center bottom no-repeat;background-size:100%;}
}
